*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppies', sans-serif;
}

.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 10px; /* Adjust padding for smaller screens */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://www.cloud4c.com/sites/default/files/2022-07/cloud4c-company-contact-1Desktop.jpg);
    background-size: cover;
}

.contact .contact
{
    max-width: 800px;
    text-align: center;
}

.contact .contacts h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .contacts p
{
    margin-top: 20px; /* Reduce margin for smaller screens */
    font-weight: 500;
    font-size: 16px; /* Adjust font size for smaller screens */
    color: #fff;
}

.button {
    margin-top: 20px; /* Reduce margin for smaller screens */
    background-color: red;
    border: none;
    color: white;
    padding: 12px 24px; /* Adjust padding for smaller screens */
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    opacity: 1;
}

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
    .contact {
        padding: 30px 10px;
    }

    .contact .contacts h2 {
        font-size: 28px;
    }

    .contact .contacts p {
        font-size: 14px;
    }

    .button {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 14px;
    }
}

/* 
  .contacts{
    width: 300px;
    height: auto;
    align-items: start;
  } */

  
.blog-posts{
    /* width: min(1200px, 100%); */
   
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    align-items: center;
  }
  
  .post{
    width: calc(33% - 10px);
    overflow: hidden;
    
  }
  
  .post-img{
    width: 100%;
    border-radius: 6px;
    transition: .3s linear;
  }
  
  .post-content{
    background-color: #ffffffdd;
    margin: 0 20px;
    padding: 30px;
    border-radius: 6px;
    transform: translateY(-60px);
    transition: .3s linear;
  }
  
  .post-content h3{
    font-size: 16px;
    margin-top: 10px;
  }
  
  .date{
    font-size: 15px;
    font-style: italic;
    color: #e77f67;
  }
  
  .post:hover .post-img{
    transform: translateY(20px);
  }
  
  .post:hover .post-content{
    transform: translateY(-80px);
  }
  
  @media screen and (max-width: 1200px){
    .blog-posts{
      justify-content: center;
    }
    .post{
      width: min(600px, 100%);
    }
  }